<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/inicio/estilos.css">
    <script src="../../static/../inicio/script.js"></script>
    <title>Página de inicio</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="../error/index.html"><i class="fas fa-cat fa-lg"></i> REPORTAR ERROR</a></li>
            <li><a href="../usuario_anónimo/index.html"><i class="fas fa-fish fa-lg"></i> USUARIOS ANÓNIMOS</a></li>
            <li><a href="../login/index.html"><i class="fas fa-user-ninja fa-lg"></i> USUARIOS REGISTRADOS</a></li>
            <li><a href="../registro/index.html"><i class="fas fa-paw fa-lg"></i> REGISTRARSE EN LA WEB</a></li>
        </ul>
    </div>
    <div class="presentacion">
        <h1>GATINDER</h1>
        <img src="../../../static/img/logo.jgp">
        <h2>ABOUT US</h2>
        <p>GATINDER nace de la idea de dar un mayor alcance y visibilidad a las protectoras, para así poder encontrar hogar a todos los animales necesitados a la vez que se facilita el proceso de adopción</p>
    </div>
    <footer>
        <p>Proyecto final de ciclo de Grado Superior en Desarrollo de Aplicaciones Web</p>
        <p>Una página web creada por Aitor Merino Vázquez | Año 2022 | Todos los derechos reservados</p>
    </footer>
</body>

</html>