<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/buscador/estilos.css">
    <script src="../../../static/buscador/script.js"></script>
    <title>Página de buscador</title>
</head>

<body>
    <div class="buscadorGatos">
        <h2>BUSCADOR DE GATOS</h2>
        <input class="buscarNombre" type="text" value=""><input class="submitNombre" type="submit" value="Buscar por nombre">
    </div>
</body>

</html>