<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="estilos.css">
    <link rel="stylesheet" type="text/css" href="registro/estilos.css">
    <script src="registro/script.js"></script>
    <title>Página de registro</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="/">VOLVER ATRÁS</a></li>
        </ul>
    </div>
    <h1>REGISTRO</h1>
    <div class="columnasRegistro">
        <div class="registroUsuario">
            <h2>SOY UN ADOPTANTE</h2>
            <form action="#" method="post" name="form_usuario" class="ficha1">
                <p>Nombre: <label for="nombre"><input type="text" size="20" pattern="[a-zA-Z'-'\s]*" title="Solo caracteres alfabéticos" name="nombre" required></label></p>
                <p>Apellidos: <label for="apellidos"><input type="text" size="20" pattern="[a-zA-Z'-'\s]*" title="Solo caracteres alfabéticos" name="apellidos" required></label></p>
                <p>Sexo:
                	<input type="radio" name="sexo" value="hombre" id="pregunta_hombre"/>
                	<label for="pregunta_hombre">Hombre</label>
                	<input type="radio" name="sexo" value="mujer" id="pregunta_mujer"/>
                	<label for="pregunta_mujer">Mujer</label>
                </p>
                <p>Fecha de nacimiento: <label for="fechaNacimiento"><input type="date" name="fechaNacimiento" required></label></p>
                <p>Localidad: <label for="localidad"><input type="text" size="20" name="localidad" required></label></p>
                <p>Teléfono: <label for="telefono"><input type="tel" size="10" pattern="[0-9]{9}" title="Formato de nueve números" name="telefono" required></label></p>
                <p>Correo electrónico: <label for="email"><input type="email" size="20" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Ejemplo: gatinder@ejemplo.es" name="email" required></label></p>
                <p>Nombre de usuario: <label for="nombreUsuario"><input type="text" size="20" name="nombreUsuario" required></label></p>
                <p>Contraseña: <label for="password"><input type="password" size="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mínimo ocho caracteres, tiene que tener mayúsculas y minúsculas, así como un número" name="password" required></label></p>
                <p>Foto de perfil: <label for="subidaFoto"><input type="file" name="subidaFoto" class="subidaFoto" accept=".jpg" required></label><button class="subirFotoU">SUBIR FOTO</button></p>
                <label for="fotoPerfil"><input type="hidden" name="fotoPerfil" class="fotoPerfil"></label>
                <img src="/img/blank.jpg" alt="" class="visualizarFotoU"><br><br>
                <label for="idrol"><input type="hidden" value="1" name="idrol"></label>
                <input type="submit" class="botonGuardarUsuario" value="REGISTRARSE">
                <p class="mensajeConfirmacion1"></p>
            </form>
        </div>
        <div class="registroProtectora">
            <h2>SOY UNA PROTECTORA</h2>
            <form action="#" method="post" name="form_protectora" class="ficha2">
                <p>Denominación: <label for="denominacion"><input type="text" size="20" name="denominacion" required></label></p>
                <p>Localidad: <label for="localidad"><input type="text" size="20" name="localidad" required></label></p>
                <p>Teléfono: <label for="telefono"><input type="tel" size="10" pattern="[0-9]{9}" title="Formato de nueve números" name="telefono" required></label></p>
                <p>Correo electrónico: <label for="email"><input type="email" size="20" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Ejemplo: gatinder@ejemplo.es" name="email" required></label></p>
                <p>Nombre de usuario: <label for="nombreUsuario"><input type="text" size="20" name="nombreUsuario" required></label></p>
                <p>Contraseña: <label for="password"><input type="password" size="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mínimo ocho caracteres, tiene que tener mayúsculas y minúsculas, así como un número" name="password" required></label></p>
                <p>Foto de perfil: <label for="fotoPerfil"><input type="text" name="fotoPerfil" required><button class="subirFotoP">SUBIR FOTO</button></label></p>
                <label for="idrol"><input type="hidden" value="2" name="idrol"></label>
                <input type="submit" class="botonGuardarProtectora" value="REGISTRARSE">
                <p class="mensajeConfirmacion2"></p>
            </form>
        </div>
    </div>
</body>

</html>