<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/login/estilos.css">
    <script src="../../../static/login/script.js"></script>
    <title>Página de login</title>
</head>

<body>
    <h1>LOGIN</h1>
    <div class="login">
        <form action="#" method="get" name="form_login">
            <p>Nombre de usuario: <label for="den"><input type="text" size="20"></label></p>
            <p>Contraseña: <label for="den"><input type="password" size="20"></label></p>
            <a href="#"><label for="enviarLogin"><input type="submit" value="Entrar"></label></a>
        </form>
    </div>
</body>

</html>