<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/fichas_gatos/estilos.css">
    <script src="../../../static/fichas_gatos/script.js"></script>
    <title>Página de fichas de gatos</title>
</head>

<body>
    <div class="contenedor-mostrar">
        <h1>FICHAS DE GATOS</h1>
        <button class="botonInsertar">INSERTAR</button>
        <button class="botonEliminar">ELIMINAR</button>
        <button class="botonActualizar">ACTUALIZAR</button>
    </div>
    <div class="contenedor-form">
        <form class="ficha">
            <h1>ACTUALIZAR FICHA DE GATO</h1>
            <p>INTRODUCE EL NOMBRE <input type="text" class="nombre"></p>
            <input type="submit" class="botonGuardar" value="GUARDAR DATOS">
        </form>
    </div>
</body>

</html>