.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    text-align: center;
    list-style: none;
    font-weight: bold;
}

.menu ul a {
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.1s;
    color: #CC998D;
    background: #ECEBE4;
    font-size: 1vw;
    text-decoration: none;
}

.menu ul a:hover {
    color: #ECEBE4;
    background: #CC998D;
}

.presentacion {
    display: flex;
    flex-direction: column;
}

.presentacion h1, h2, h3, p {
    text-align: center;
}

.presentacion h1 {
    font-size: 50px;
}

.presentacion h2 {
    font-size: 40px;
}

.presentacion h3 {
    font-size: 30px;
}

.presentacion p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}