.presentacion {
    display: flex;
    flex-direction: column;
}

.presentacion h1, h2, h3, p {
    text-align: center;
}

.presentacion h1 {
    font-size: 50px;
}

.presentacion h2 {
    font-size: 40px;
}

.presentacion h3 {
    font-size: 30px;
}

.presentacion p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    height: 150px;
    color: #ECEBE4;
    background: #CC998D;
}

img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    border-radius: 300px;
}