button {
	width: 50px;
	height: 30px;
	margin: 5px auto;
	padding: 0 10px;
	border: 2px solid #429EA6;
	border-radius: 30px;
	box-shadow: #429EA6 5px 5px 0 0;
	color: #429EA6;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: #ECEBE4;
}

h1, h2, h3, p {
	margin: 55px;
	text-align: center;
}

h2 {
	padding-top: 37.5px;
	border-top: solid 3.5px #ECEBE4;
}

img {
	width: 350px;
	height: 350px;
	margin: 0 auto;
	border-radius: 300px;
}

.botonMenu {
	color: #CC998D;
}

.botonMenu:hover {
	color: #ECEBE4;
	background: #CC998D;
}

.menuResponsive {
	display: none;
}

.menuDesplegable {
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.3s;
}

.menuDesplegable ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 30px;
	left: 0;
	margin: auto;
	padding: 5px;
	text-align: center;
	list-style: none;
	font-weight: bold;
}

.menuDesplegable ul a {
	display: flex;
	flex-direction: column;
	width: 120px;
	padding: 5px;
	cursor: pointer;
	transition: all 0.1s;
	color: #CC998D;
	background: #ECEBE4;
	font-size: 3vw;
	text-decoration: none;
}

.menuDesplegable ul a:hover {
	color: #ECEBE4;
	background: #CC998D;
}

.panelControl, .panelControlDesplegable {
	display: none;
}

.logo {
	cursor: pointer;
}

.presentacion {
	display: flex;
	flex-direction: column;
}

.presentacion h1 {
	font-size: 50px;
}

.presentacion h2 {
	font-size: 40px;
}

.presentacion h3 {
	font-size: 30px;
}

.presentacion p {
	font-size: 20px;
}

.footer {
	height: 150px;
	padding: 15px;
	border-radius: 50% 50% 0 0/50px;
	color: #ECEBE4;
	background: #CC998D;
}

@media ( max-width : 660px) {
	.menu ul {
		display: none;
	}
	.menuResponsive {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
	}
}