.columnasRegistro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.registroProtectora, .registroUsuario {
    display: flex-item;
    padding: 10px;
    border-style: solid;
    border-color: #CC998D;
    border-radius: 15px;
    border-width: 2.5px;
}

.visualizarFotoU {
	width: 200px;
	height: 200px;
	border-radius: 100px;
}