@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oswald&family=Shizuru&display=swap');

h1, h2, h3 {
    font-family: 'Shizuru', cursive;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
    margin: none;
    padding: 0;
    background: #429EA6;
    color: #ECEBE4;
    font-family: Arial, Helvetica, sans-serif;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    text-align: center;
    list-style: none;
    font-weight: bold;
}

.menu ul a {
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.1s;
    color: #CC998D;
    background: #ECEBE4;
    font-size: 1vw;
    text-decoration: none;
}

.menu ul a:hover {
    color: #ECEBE4;
    background: #CC998D;
}