@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oswald&family=Shizuru&display=swap');

/* Josh's Custom CSS Reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/* Estilos generales del documento y los títulos */
html {
	width: 100%;
	margin: none;
	padding: 0;
	background: #429EA6;
	color: #ECEBE4;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	font-family: 'Shizuru', cursive;
}

h1, h2, h3, h6, p {
	margin: 20px;
	text-align: center;
}

/* Estilos generales del menú superior */
.menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 4.9px;
	text-align: center;
	list-style: none;
	font-weight: bold;
}

.menu ul a {
	width: 100%;
	padding: 10px 10px;
	cursor: pointer;
	transition: all 0.1s;
	color: #CC998D;
	background: #ECEBE4;
	font-size: 1vw;
	text-decoration: none;
}

.menu ul a:hover {
	color: #ECEBE4;
	background: #CC998D;
}