.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    text-align: center;
    list-style: none;
    font-weight: bold;
}

.menu ul a {
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.1s;
    color: #CC998D;
    background: #ECEBE4;
    font-size: 1vw;
    text-decoration: none;
}

.menu ul a:hover {
    color: #ECEBE4;
    background: #CC998D;
}

.contenedor-mostrar {
    background-color: darkgoldenrod;
    width: 25%;
    height: 50%;
    border-radius: 25px;
    text-align: center;
}

.contenedor-form {
    visibility: hidden;
    background-color: firebrick;
    width: 25%;
    height: 50%;
    border-radius: 25px;
    text-align: center;
}