body {
	background-color: #429EA6;
	text-align: center;
}

table {
	width: 100%;
}

tr, th, td {
	border-style: solid;
	border-width: 1px;
	font-size: 20px;
	text-align: center;
	color: #ECEBE4;
	background-color: #CC998D;
}

a {
	color: #ECEBE4;
	text-decoration: none;
}

p {
	color: #ECEBE4;
	text-align: justify;
	font-size: 20px;
}