<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/usuario_registrado/estilos.css">
    <script src="../../../static/usuario_registrado/script.js"></script>
    <title>Gatinder registrado</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="../buscador/index.html"> BUSCADOR</li></a>
            <li><a href="../chat/index.html"> CHAT</li></a>
            <li><a href="../perfil_usuario/index.html"> PERFIL</li></a>
        </ul>
    </div>
    <div class="fichaGato">
    </div>
</body>

</html>