<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/usuario_anónimo/estilos.css">
    <script src="../../../static/usuario_anónimo/script.js"></script>
    <title>Gatinder anónimo</title>
</head>

<body>
    <div class="fichaGato">
    </div>
</body>

</html>