<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/error/estilos.css">
    <script src="../../../static/error/script.js"></script>
    <title>Página de reporte de errores</title>
</head>

<body>
    <h1>REPORTE DE ERRORES</h1>
    <div class="formularioError">
        <label for="error"><textarea rows="10" cols="50" placeholder="DESCRIBE EL ERROR QUE HAS OBSERVADO Y TRABAJAREMOS PARA SOLUCIONARLO"></textarea></label>
        <br>
        <br>
        <a href="../inicio/index.html"><label for="enviar"><input type="submit" value="Enviar"></label></a>
    </div>
</body>

</html>