<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../static/estilos.css">
    <link rel="stylesheet" type="text/css" href="../../../static/protectora/estilos.css">
    <script src="../../../static/protectora/script.js"></script>
    <title>Página de protectora</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="../fichas_gatos/index.html">ADMINISTRAR GATOS</a></li>
        </ul>
    </div>
    <h1>PROTECTORA</h1>
</body>

</html>